<footer>
    <div class="footer1">
            <div class="logo">
                <img src="/Logo3.png" alt="">
                <h2>PizzaTime</h2>
            </div>
            <div>
                <p>Avenida Santo Amaro, 456 - Vila Olímpia, São Paulo - SP, 04555-001</p>
            </div>
            <div class="contatos-footer">
                <div class="telefone">
                    <img src="/chamada-telefonica.png" alt="">
                    <p>(11) 1234-5678</p>
                </div>
                <div class="whatszapp">
                    <img src="/whatsapp.png" alt="">
                    <p>(11) 8765-4321</p>
                </div>
                <div class="instagram">
                    <img src="/instagram.png" alt="">
                    <p>PizzaTimeBrasil</p>
                </div>
            </div>
        </div>
        <hr class="divisor-footer">
        <div class="footer2">
            <p>PizzaTime - Todos os direitos reservados</p>
        </div>
</footer>