<body>
  <header class="cabecalho">
    <div class="logo">
      <img src="./Logo3.png" alt="Logo PizzaTime" />
      <h2>PIZZATIME</h2>
    </div>
  </header>
  
  <section class="formulario-cadastro">
    <h3>Cadastrar Funcionário</h3>
    <form (ngSubmit)="adicionarFuncionario()" #formFuncionario="ngForm">
      <!-- adicionar upload de imagem -->
      <input type="text" name="nome" [(ngModel)]="novoFuncionario.nome" placeholder="Nome do Funcionário" required />
      <input type="text" name="cpf" [(ngModel)]="novoFuncionario.cpf" placeholder="CPF" required />
      <input type="text" name="email" [(ngModel)]="novoFuncionario.email" placeholder="Email" required />
      <input type="text" name="senha" [(ngModel)]="novoFuncionario.senha" placeholder="Senha" required />

      <label for="role">FUNÇÃO</label>
      <select name="categoria" id="categoria" [(ngModel)]="novoFuncionario.role" required>
        <option value="" disabled selected>Selecione a função</option>
        <option value="admin">Admin</option>
        <option value="funcionario">Funcionário</option>
      </select>
      <!-- botão não esta funcionando-->
      <button type="submit" [disabled]="formFuncionario.invalid">Adicionar</button>
    </form>

  </section>

  <section>
    <div class="tabela-container">
      <table class="tabela-produtos">
        <thead>
          <tr>
            <th>NOME</th>
            <th>FUNÇÃO</th>
            <th>CPF</th>
            <th>EMAIL</th>
            <th>SENHA</th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.role }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td>{{ funcionario.email }}</td>
            <td>R$ {{ funcionario.senha }}</td>
            <td>
              <button class="editar" (click)="editarFuncionario(funcionario)">Editar</button>
              <button class="excluir" (click)="excluirFuncionario(funcionario.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>