<app-header></app-header>
<main>
    <section class="nav-op">
        <div class="horarios-container">
            <span>Terça-feira à Domingo - 17:00 às 23:59 | Pedido mínimo R$ R$ 29,99 | Duração do Pedido : 40-70 min</span>
        </div>
        <div class="options">
            <ul id="op">
                <li><a href="">Combos</a></li>
                <li><a href="">Promoções</a></li>
                <li><a href="">Pizzas Salgadas</a></li>
                <li><a href="">Pizzas Doces</a></li>
                <li><a href="">Bebidas</a></li>
            </ul>
        </div>
    </section>
    
    <!-- conteudo do cardapio-->
     <!-- Combos -->
      <section>
        <div class="sec-titulo">
            <h2>Combos</h2>
            <img src="/entrega-de-alimentos.png" alt="">
        </div>
        <div class="linha">
            <!-- card de produto-->
             <app-card-produto></app-card-produto>
        </div>
     </section>

    <!-- promoções -->
     <section>
        <div class="sec-titulo">
            <h2>Promoções</h2>
            <img src="/promocao.png" alt="">
        </div>
        <div class="linha">
            <!-- card de produto-->
             <app-card-produto></app-card-produto>
        </div>
     </section>


     <!-- Pizzas salgadas-->
      <section>
        <div class="sec-titulo">
            <h2>Pizzas Salgadas</h2>
            <img src="/fatia-de-pizza.png" alt="">
        </div>
        <div class="linha">
            <!-- card de produto-->
             <app-card-produto></app-card-produto>
        </div>
     </section>


     <!-- Pizzas doces-->
      <section>
        <div class="sec-titulo">
            <h2>Pizzas Doces</h2>
            <img src="/doces.png" alt="">
        </div>
        <div class="linha">
            <!-- card de produto-->
             <app-card-produto></app-card-produto>
        </div>
     </section>

     <!-- Bebidas-->
      <section>
        <div class="sec-titulo">
            <h2>Bebidas</h2>
            <img src="/copo-de-plastico.png" alt="">
        </div>
        <div class="linha">
            <!-- card de produto-->
             <app-card-produto></app-card-produto>
        </div>
     </section>

</main>
<app-footer></app-footer>