<app-header></app-header>
<main>
    <section class="nav-op">
        <div class="horarios-container">
            <span>Terça-feira à Domingo - 17:00 às 23:59 | Pedido mínimo R$ R$ 29,99 | Duração do Pedido : 40-70 min</span>
        </div>
        <div class="options">
            <ul id="op">
                <li><a href="">Combos</a></li>
                <li><a href="">Promoções</a></li>
                <li><a href="">Pizzas Salgadas</a></li>
                <li><a href="">Pizzas Doces</a></li>
                <li><a href="">Bebidas</a></li>
                <li><a href="">Pedidos</a></li>
            </ul>
        </div>
    </section>
</main>
<app-footer></app-footer>